.sania{
    border-style:outset;
    border-width: 3px;
    border-color: rgb(188, 187, 176);
    width: 190px;
    padding: 20px;
    margin: 150px;
    background-color: rgb(9, 13, 12);
}
p{
    margin-top: 5%;
    margin-bottom: 0%;
    color:  rgb(162, 150, 101);
    text-align: justify;
}
.center{
    text-align: center;
    width: 100%;
}
h1{
    text-align: center;
    margin: 0px;
    color: white;
}
button{
    margin-top: 15px;
    background-color: rgb(243, 243, 232);
    color: rgb(15, 13, 13);
    width: 100%;
    padding: 5px;
    border-radius: 25px;
    border: 0%;
    cursor: pointer;
    
}
button:hover{
    background-color:rgb(234, 150, 14);
}