.container {
    width: 60%;
    display: flex;
    margin-left: 17%;
    margin-top: 10%;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

.d1 {
    background-color: gainsboro;
    flex: 1 1 50%; 
    padding: 30px;
    flex-wrap: wrap;
}
.child1 {
    text-align: justify;
}
.d2 {
    flex: 1 1 50%; 
    background-image: url('sania2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-wrap: wrap;
}
.icon1 {
    color: rgb(163, 119, 8);
    background-color: white;
    padding: 8px;
    font-size: 25px;  
}
.icon2 {
    color: rgb(163, 119, 8);
    background-color: white;
    padding: 7px;
    font-size: 24px;
}
.c1 {

    display: flex;
    

}
span{
    margin-left: 3px;
    margin-right: 80px;
}
.s2{
    margin-left: 3px;
    margin-right: 46px;
}

.c2 {

    display: flex;
    
}
pre{
    display: inline;
}


