.main {
    border: 1px solid rgb(21, 20, 21);
    width: 297px;
    margin: 100px;
}
img {
    height: 130px;
    width: 297px;
}
h2 {
    padding-top: 8px;
    padding-bottom: 14px;
    margin: 0px;
    text-align: center;
}
p {
    padding: 0px 15px;
    text-align: justify;
    margin: 0%;
}
a {
    padding: 15px;
    text-decoration: none;
}
button {
    margin: 10px 22px;
    background-color: rgb(58, 134, 233);
    color: rgb(15, 13, 13);
    padding: 8px;
    width: 250px;
    border: none;
    cursor: pointer; 
}

button:hover {
    background-color: rgb(234, 150, 14);
    color: white;
}
a:hover{
 color: rgb(214, 71, 10);
}
a:focus{
    color: red;
}


