body{
    background-color: #2964e3;
}
.section{
    background-color: #fc0352;
    width: 500px;
    margin-top: 90px;
    margin-left: 20px;
    padding: 30px;
}
#button{
    background-color:#910c2b;
    color: aliceblue;
    padding: 5px;
}
