button{
    background-color: rgb(47, 47, 218);
    margin-bottom: 15px;
    padding: 5px;
    border-bottom: 5px white;
    border-right: 5px white;
    border-style: outset;
    color: white;
}
p.par{
   text-align: justify;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
   color: #a89f9e;

}
.div1{
    background-color: rgb(22, 28, 210);
    width: 500px;
    margin-top: 100px;
    margin-left: 100px;
    padding: 20px ;
}
p.par1{
    margin-top: 0px;
    margin-bottom: 0px;
    color: #a89f9e;
}
h1{
    width:210px;
    color: aliceblue;
}
b{
    color: white;
}
